<div class="jumbotron">
<h2 class='page-header'> Todo List</h2>
</div>
<div class="jumbotron">

  <table class="table  table-hover">

      <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Todo</th>
            <th scope="col">status</th>
            <th scope="col">Target</th>
          </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of todospending; let i = index ">
              <th scope="row">{{i+1}}</th>
              <td><span #todoItem> {{item.todo}}</span>
              </td>
              <td><span #editStatus>{{item.status}} </span>
                  <select [style.visibility]="cssvisibility" type="text"  #editStatusinput  placeholder="watch star trek movie" class="list-group-item">
                    <option value="todo">Todo</option>
                    <option value="done">Done</option>
                    <option value="planned">Planned</option>
                  </select>
              </td>
              <td><span>{{item.dueDate}}</span>
              </td>
              <td>
                <button #editButton type="button" (click)="enableEdit(editStatus,editStatusinput,editButton,updateButton) " class="hoverc badge badge-success badge-round">edit</button>
                <button #updateButton [style.visibility] = "cssvisibility"  type="button" class="hoverc badge badge-success badge-round" (click)="updateStatus(todoItem,editStatusinput);disableElementUpdate(editStatus,editStatusinput,editButton,updateButton);">update</button>
              </td>
            </tr>
            <tr>
                <th></th>
                <td scope="col">
                  <input type="text" #todoitem placeholder="watch star trek movie" class="list-group-item" patter="[a-zA-Z0-9 ]">
                </td>
                <td scope="col"></td>
                <td scope="col">
                  <input type="text" #duedate placeholder="mm/dd/yyyy" pattern="\d\d\/\d\d\/\d\d\d\d" class="list-group-item">
                  <small *ngIf="!validString || !valiateDate" class="text-danger">date is wrong</small>
                </td>
                <td>
                  <button type="button" class="hoverc badge badge-success badge-round" (click)="addTodoItems(todoitem,duedate);todoitem.value='';duedate.value='';">+</button>
                </td>
              </tr>
          </tbody>


  </table>

</div>
<div class="jumbotron">

  <h2>Planned</h2>

  <table class="table  table-hover">

    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Todo</th>
          <th scope="col">status</th>
          <th scope="col">Target</th>
        </tr>
      </thead>

      <tbody>
          <tr *ngFor="let item of todosplanned; let i = index ">
            <th scope="row">{{i+1}}</th>
            <td><span #todoItem> {{item.todo}}</span>
            </td>
            <td><span #editStatus>{{item.status}} </span>
                <select [style.visibility]="cssvisibility" type="text"  #editStatusinput  placeholder="watch star trek movie" class="list-group-item">
                  <option value="todo">Todo</option>
                  <option value="done">Done</option>
                  <option value="planned">Planned</option>
                </select>
            </td>
            <td><span>{{item.dueDate}}</span>
            </td>
            <td>
              <button #editButton type="button" (click)="enableEdit(editStatus,editStatusinput,editButton,updateButton) " class="hoverc badge badge-success badge-round">edit</button>
              <button #updateButton [style.visibility] = "cssvisibility"  type="button" class="hoverc badge badge-success badge-round" (click)="updateStatus(todoItem,editStatusinput);disableElementUpdate(editStatus,editStatusinput,editButton,updateButton);">update</button>
            </td>
          </tr>
        </tbody>


</table>
</div>
<div class="jumbotron">

  <h2>Done</h2>

  <table class="table  table-hover">

      <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Todo</th>
            <th scope="col">status</th>
            <th scope="col">Target</th>
          </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of todosdone; let i = index ">
              <th scope="row"><s>{{i+1}}</s></th>
              <td><s>{{item.todo}}</s></td>
              <td><s>{{item.status}}</s></td>
              <td><s>{{item.dueDate}}</s></td>
              <td><span class="badge badge-success badge-round" >done</span></td>
            </tr>
          </tbody>


  </table>


<!-- <ul class="list-group">
  <li #liItem  class="list-group-item  list-group-item-success" *ngFor="let item of todos"><input type="checkbox" (change)="striketheTodoItem(liItem,$event)" name="checkStatus">{{item.todo}}
    <span (click)="removeElement(item.todo)" class="badge badge-success badge-round">X</span>
</li>
</ul> -->

</div>